@charset "UTF-8";

body {
    background-color: blueviolet;
    color: rgba(0,0,0,1)
}

p {
    text-align: justify;
    text-indent: 50px;
}

main {
    background-color: darkmagenta;
    padding: 20px;
    border-radius: 12px;
}